.login {
  height: 100vh;
  background: url("../images/background4.png") center;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    .left {
      flex: 1;
      background-color: rgb(246, 226, 163);
      //   background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      color: rgb(253, 146, 70);
      h1 {
        font-size: 80px;
        line-height: 80px;
      }
      p {
      }
      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: rgb(253, 146, 70);
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      background-color: rgb(61, 110, 60);
      //   background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: white;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: white;
          color: rgb(85, 85, 85);
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
