.register {
  height: 100vh;
  background: url("../images/background4.png") center;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    align-items: flex-start;
    padding-top: 20px;
  }

  .card {
    max-width: 80%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 1024px) {
      max-width: 90%;
      flex-direction: column;
    }

    @media (max-width: 768px) {
      max-width: 100%;
      padding: 10px;
    }

    .left,
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;

      @media (max-width: 768px) {
        padding: 20px;
      }
    }

    .left {
      background-color: rgb(246, 226, 163);
      color: rgb(253, 146, 70);

      h1 {
        font-size: 80px;
        line-height: 80px;
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: rgb(253, 146, 70);
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      background-color: rgb(61, 110, 60);

      h1 {
        color: white;
        font-size: 32px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: white;
          color: rgb(85, 85, 85);
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
