$themes: (
  light: (
    textColor2: #000,
    backgroundColor: #f6e2a3,
    backgroundColorLeft: white,
    backgroundColorRight: #f6f3f3,
    backgroundCardRight: white,
    backgroundColorHome: #f6f3f3,
    navLogos: #3d6e3c,
    searchIcon: #3d6e3c,
    searchBgColor: white,
    borderNav: #fc9246,
    leftTextColor: black,
    leftLogoColor: #3d6e3c,
    rightShadow: rgba(0, 0, 0, 0.09),
    textRight: black,
  ),
  dark: (
    textColor2: whitesmoke,
    backgroundColor: #222,
    backgroundColorLeft: #222,
    backgroundColorRight: rgb(67, 67, 67),
    backgroundCardRight: #222,
    backgroundColorHome: rgb(67, 67, 67),
    navLogos: #abaaa9,
    searchIcon: #abaaa9,
    seachBgColor: #333,
    border: #444,
    textColor: rgb(194, 193, 193),
    borderNav: #444,
    leftTextColor: #abaaa9,
    leftLogoColor: #abaaa9,
    rightShadow: #abaaa9,
    textRight: rgb(197, 196, 196),
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

// @mixin mobile {
//   @media (max-width: 480px) {
//     @content;
//   }
// }
// @mixin tablet {
//   @media (max-width: 960px) {
//     @content;
//   }
// }
