@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-top: 0.5px solid themed("borderNav");
    border-bottom: 0.5px solid themed("borderNav");
    background-color: themed("backgroundColor");
    position: sticky;
    top: 0;
    z-index: 1000;

    .home-icon {
      color: themed("searchIcon");
    }

    .left {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 20px;
      color: themed(navLogos);
      flex-shrink: 1;

      span {
        font-weight: bold;
        font-size: 25px;
        background: -webkit-linear-gradient(#3d6e3c, #fc9246);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        color: themed("searchIcon");
        background-color: themed("searchBgColor");
        flex-grow: 1;

        input {
          border: none;
          width: 100%;
          background-color: transparent;
          color: themed("textColor");
          flex-grow: 1;

          @include mobile {
            display: none;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 15px;
      color: themed("navLogos");
      flex-shrink: 1;

      @include mobile {
        display: none;
      }
      .MuiSvgIcon-root {
        color: themed("leftLogoColor");
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 5px 10px;

      .left,
      .right {
        gap: 10px;
      }

      .left .search {
        gap: 5px;
        padding: 2px 5px;
      }
    }
  }
}
